.substance-container{
width:90%;
 border:2px solid red;
 @include flx-col();
 & .substance-title{
     text-align:center;    
    }
    & .substance-form{
width:100%;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
grid-template-rows: 1fr;
border:2px solid red;
}

}
