.main-navbar{
   position: relative;
   z-index:1;
    background-color:$nav-color;
    width:100vw;
    padding:$base-padding*2 $padding-medium;
    @include flx-row ($justify:space-between);
    color:map-get($colors,'white');
 & a{
    text-decoration: none;
   color:map-get($colors,'white');
   border:$base-border-thickness solid currentcolor;
   padding:$base-padding $padding-medium*1.2;
   border-radius:$base-border-radius*0.3;
   transition:$base-transition;
   font: {
    size:$font-size-lg;
   }
   &:hover{
   background-color:map-get($colors,'white');
    color:$nav-color;
   border:$base-border-thickness solid $nav-color;
   }
 }
 
 .login-link{
 border:none;
 cursor: pointer;
 font: {
   family:'Poppins', sans-serif;;
   weight:'Regular' 400;
 }
 &:hover{
    font-weight:700;
 }
 }
}